@font-face {
    font-family: franklinGothicDemi;
    src: url(FRADM.TTF);
}
@font-face
{
	font-family: rockwellExtraBold;
	src: url(ROCKEB.TTF);
}
@font-face
{
	font-family: segoeUIHistoric;
	src: url(SEGUIHIS.TTF);
}

body 
{
    background-color:rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
	font-family: Arial, Helvetica, sans-serif;
}

.listing
{
	width:550px;
	height:110px;
	background-color:rgba(51, 51, 51, 1);
	margin-left:auto;
	margin-right:auto;
	display:block;
	overflow:auto;
	margin:20px;
	border-radius: 15px 50px 30px 5px;
}
.bars
{
	display:inline-block;
	float:left;
	position: relative;
	top: 0px;
	left: 0px;
}
.team
{
	display:block;
	position: relative;
	margin-top:93px;
	font-size:75%;
	width:228px;
	height:17px;
	padding-left:20px;
	font-family: segoeUIHistoric, Arial, Helvetica, sans-serif;
}

.name
{
	display:inline-block;
	float:left;
	position:relative;
	top:24px;
	font-size: 250%;
	font-family: franklinGothicDemi, Arial, Helvetica, sans-serif;
	
}
.number
{
	display:inline-block;
	float:right;
	position:relative;
	top:20px;
	right:25px;
	font-size: 300%;
	font-family: rockwellExtraBold, Arial, Helvetica, sans-serif;
}